extends ./_demo-page-layout.jade

block content
    +description("APIs: Weather &amp; Flickr", "Advanced JavaScript")
        p Students learned how to handle asynchronously talking to an API. In this synthesis exercise, students had to build an app that allows you to search for a city to get a live weather report &amp; a related image from flickr.
        p Type in a city (e.g. "tokyo") and press enter.
    +demo("demos/api-weather-flickr/index.html")