extends ./_demo-page-layout.jade

block content
    +description("Event Faces", "Introduction to JavaScript")
        p Students learned the basics of event handling and were tasked with making a mix-and-match hipster face.
        p Click on the glasses, mustache or bowtie.
    +demo("demos/events-hipster-faces/index.html")