extends ./_html5-layout.jade

block content
    ol
        li
            a(href="events-hipster-faces.html") Hipster Faces &amp; Events
        li
            a(href="p5js-mouse-drawing.html") Canvas Glow Drawing
        li
            a(href="p5js-music-visualization.html") Music Control &amp; Visualization
        li
            a(href="api-weather-flickr.html") Using APIs: Weather &amp; Flickr
        li
            a(href="oop-matrix.html") Object-Oriented Particle System
        li
            a(href="local-storage-movie-pal.html") Movie Tracker App
        li
            a(href="node-pirate.html") Pirate Translation
        li
            a(href="socket-drawing.html") Real-time, Multiplayer Drawing