extends ./_demo-page-layout.jade

block content
    +description("Movie Tracker", "Advanced JavaScript")
        p After learning about local storage, students built a movie tracking web application. It pulls movie information from The Movie Database (TMDb) and allows users to add a movie to a list of favorites. The data is stored locally in the browser, so you can close it and come back later.
        p Search for movie, "heart" it and then check out the favorites page.
    +demo("demos/local-storage-movie-pal/search.html")