extends ./_demo-page-layout.jade

block content
    +description("Pirate Translator", "Server-side Programming")
        p After learning about Node.js for back-end web development and learning how to make an API, students were tasked with building a pirate translator. They had to build a back-end translation API and build a front-end user interface for translating text.
    +demo("//pirate-speak.herokuapp.com/")