extends ./_demo-page-layout.jade

block content
    +description("Object-Oriented Particles", "Advanced JavaScript")
        p Students learned the basics of object-oriented programming in JavaScript and then were tasked with creating a Matrix-style waterfall of text using objects for the particles.
    +demo("demos/oop-matrix/index.html")