extends ./_demo-page-layout.jade

block content
    +description("Music Control &amp; Visualization", "Introduction to JavaScript")
        p Students learned how to draw to the canvas and manipulate web audio using the p5.js creative coding framework. In this exercise, students created a music visualization that also gives you control over playback speed.
        p Slide your mouse across the screen to change the playback speed.
    +demo("demos/p5js-music-visualization/index.html")