extends ./_demo-page-layout.jade

block content
    +description("Canvas Glow Drawing", "Introduction to JavaScript")
        p Students learned how to draw to the canvas using the p5.js creative coding framework. In this exercise, students created a simple drawing app with a glow effect.
        p Left click to draw.
    +demo("demos/p5js-mouse-drawing/index.html")