extends ./_demo-page-layout.jade

block content
    +description("Real-Time Drawing", "Server-side Programming")
        p After learning about how socket.io can be used to create a real-time app that connects multiple people simultaneously, students built a real-time drawing app.
        p Open up this page in two separate tabs/windows to be able to see the real-time component. (Or send the link to a friend and open it up at the same time.) 
    +demo("//socketdrawingadvanced.herokuapp.com/")